/*
 ____ ____ ____ ____ ____ ____ ____ 
||G |||E |||N |||E |||R |||A |||L ||
||__|||__|||__|||__|||__|||__|||__||
|/__\|/__\|/__\|/__\|/__\|/__\|/__\|
*/
/* start */

* {
	padding: 0px;
	margin: 0px;
	font-family: monospace;
}

html, body {
	height: 100%;
}


#overlay {
	position: absolute;
	top: 50px;
	bottom: 15px;
	width: 100%;
	background: #3e3e3e;
	overflow: hidden;
	z-index: 99;
	opacity: 1;
}

#transOverlay {
    position: absolute;
    top: 0px;
    bottom: 0px;
    width: 100%;
    background: #000000;
    opacity: 0.5;
    display: none;
    z-index: 99;
}

#loading {
	color: #CCC;
	position: absolute;
	top: 50%;
	left: 50%;
	font-size: 200px;
	margin-top: -100px;
	margin-left: -100px;
}

/* close */

/*
 ____ ____ ____ ____ 
||N |||A |||V |||I ||
||__|||__|||__|||__||
|/__\|/__\|/__\|/__\|
*/
/* start */

#navi {
	position: absolute;
	top: 0px;
	width: 100%;
	height: 50px;
	background: #3e3e3e;
}

.naviBtn {
	width: 44px;
	height: 44px;
	float: left;
	background: #CCC;
	border-radius: 3px;
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 2px;
	line-height: 44px;
	text-align: center;
	font-size: 25px;
}

.naviBtn:hover {
	opacity: 0.5;
	cursor: pointer;
}

.naviEditInProgress {
	width: 44px;
	height: 44px;
	float: right;
	line-height: 44px;
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 2px;
	font-size: 25px;
	color: #24c93a;
	display: none;
}

/* close */

/*
 ____ ____ ____ ____ ____ ____
||H |||E |||A |||D |||E |||R ||
||__|||__|||__|||__|||__|||__||
|/__\|/__\|/__\|/__\|/__\|/__\|
*/
/* start */

#contentHeader {
	position: absolute;
	top: 50px;
	width: 100%;
	height: 25px;
	background: #3e3e3e;
	color: #CCCCCC;
    text-align: center;
    line-height: 25px;
	user-select: none;
}

#headerImage {
    width: 75px;
    height: 100%;
    outline: 1px solid black;
    float: left;
}

#headerDetails {
    width: calc(100% - 275px);
    height: 100%; 
    float: left;'
}

.headerDetailsCol {
	position: relative;
    width: 16.6666%;
    height: 100%;
    float: left;
    outline: 1px solid black;
}

#filter {
    width: 200px;
    height: 100%;
    background: black;
    float: left;
    outline: 1px solid black;
}

#filter input {
	width: 172px;
	height: 23px;
	margin-top: 1px;
	float: left;
	border: none;
	padding-left: 5px;
}

.filterIcon {
	width: 23px;
	height: 23px;
	float: left;
	margin-top: 1px;
	color: #3e3e3e;
	background: #FFFFFF;
}

#clearFilter {
	
}

.orderBy {
	position: absolute;
	right: 5px;
	top: 2px;
	width: 20px;
	height: 20px;
	float: right;
}

.orderBy:hover {
	cursor: pointer;
	color: #FFFFFF;
}

/* close */

/*
 ____ ____ ____ ____ ____ ____ ____ ____ 
||C |||O |||N |||T |||E |||N |||T |||S ||
||__|||__|||__|||__|||__|||__|||__|||__||
|/__\|/__\|/__\|/__\|/__\|/__\|/__\|/__\|
*/
/* start */

#content {
	position: absolute;
	top: 75px;
	bottom: 15px;
	width: 100%;
	background: #3e3e3e;
	overflow: auto;
}

.rowWrapper {
	width: 100%;
	height: 75px;
	margin-bottom: 5px;
	background: #CCC;
}

.rowImage {
	width: 75px;
	height: 75px;
	background: #FFF;
	float: left;
	text-align: center;
	line-height: 75px;
	font-size: 40px;
	color: #CCC;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

.rowDetails {
   float: left;
   width: calc(100% - 275px);
   height: 100%;
}

.rowDetailsBottom {
    width: 100%;
    height: 50%;
}

.rowDetailsCol {
    width: 16.6666%; 
    height: 100%; 
    outline: 1px solid black; 
    float: left;
    text-align: center;
    line-height: 35px;
}

.rowDetailsTop{
	width: 100%;
    height: 50%;
    background: #FFFFFF;
    text-align: center;
    line-height: 35px;
}

.rowWrapper:hover {
	/*opacity: 0.75 !important;*/
}

/* ----------------------------------- */
/*inputs*/
/* ----------------------------------- */

.dataInputs {
	width: 200px;
	height: 75px;
	float: left;
	text-align: center;
}

.dataInputsLeft {
	width: 60%;
	height: 100%;
	float: left;
}

.dataInputsRight {
	width: 40%;
	height: 100%;
	float: left;
}

.dataInputs input {
	border: none;
	width: 100%;
	height: 100%;
	text-align: center;
}


/* ----------------------------------- */
/* record status */
/* ----------------------------------- */

.recordStatus {
	width:  384px;
	height: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: row;
	flex-wrap: nowrap;
    float: left;
}

.statusBox {
	width: 30px;
	height: 30px;
	margin-right: 5px;
	text-align: center;
	line-height: 15px;
	font-size: 11px;
}

.statusBoxWebhyoji {
    background: orange;
    float: left;
    margin-left: 5px;
}

.statusBoxHaiban{
	background: crimson;
	color: #FFF;
    float: right;
}

.statusBoxWeb{
	background: skyblue;
	color: #3e3e3e;
    float: right;
}

.statusBoxOther {
    background: green;
    color: #FFFFFF;
    float: right;
}

.statusBoxSet {
    background: blue;
    color: #FFFFFF;
    float: right;
}

.statusBoxOff {
	opacity: 0.25;
}

/* close */

/*
 ____ ____ ____ ____ ____ ____ 
||F |||O |||O |||T |||E |||R ||
||__|||__|||__|||__|||__|||__||
|/__\|/__\|/__\|/__\|/__\|/__\|
*/
/* start */

#footer {
	background: #3e3e3e;
	color: #FFF;
	position: absolute;
	bottom: 0px;
	width: 100%;
	height: 15px;
}

#thresholdMax {
    line-height: 15px;
    float: right;
    margin-right: 10px;
    color: lightgreen;
    font-size: 10px;
}

/* close */

/*
 ____ ____ ____ ____ ____ ____ ____ 
||M |||E |||S |||S |||A |||G |||E ||
||__|||__|||__|||__|||__|||__|||__||
|/__\|/__\|/__\|/__\|/__\|/__\|/__\|
*/
/* start */

#messageDialogue{
	box-shadow: 4px;
	width: 500px;
	height: 400px;
	position: absolute; 
	top: calc(50% - 200px);
	left: calc(50% - 250px);
	z-index: 9999;
	display: none;
	box-shadow: 10px 10px 10px 2px #999;
}

#messageDialogueTitle {
	width: 100%;
	height: 25px;
	line-height: 25px;
	padding-left: 5px;
}

#messageDialogueContents {
	width: calc(100% - 10px);
	height: 375px;
	background: #FFF;
	color: #000;
	padding: 5px;
}

.successCol {
	background: lightGreen;
	color: white;
}

.errorCol {
	background: crimson;
	color: white;
}

.warningCol {
	background: #e1ea79;
	color: #888;
}

.infoCol {
	background: lightBlue;
	color: #888;
}

/* close */
